<aside id="not-eaten">
    <ol>
        {{#each burger}}
            {{#if devoured}}
                 <li>{{burger_name}}</li>
            {{/if}}
        {{/each}}
    </ol>
</aside>

<aside id="eaten">
<ol>
    {{#each burger}}
        {{#if devoured}}
                <li>{{burger_name}}</li>
        {{/if}}
    {{/each}}
    </ol>
</aside>