<aside id="not-eaten">
    <ol>
        {{#each burger}}
            {{#unless devoured}}
                 <li>{{burger_name}}<span><button>Devour</button></span></li>
            {{/unless}}
        {{/each}}
    </ol>
</aside>

<aside id="eaten">
<ol>
    {{#each burger}}
        {{#if devoured}}
                <li>{{burger_name}}</li>
        {{/if}}
    {{/each}}
    </ol>
</aside>