body{
    background:orange;
}
header{
    text-align: center;
}
img{
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

aside{
    /* text-align: center; */
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

ol li{ 
    width: 80%;
    /* text-align: center; */
    list-style-position: inside;
    border: 1px solid brown;
    padding: 3px 15px;
}
ol li div{ 
    display: inline-block;
}

#not-eaten ol li div{
    display: inline-grid;
    grid-template-columns: 60px auto ;
    grid-template-rows: auto;
}

#formdiv{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#formdiv textarea{
    width: 100%;
}
